<section class="container-task">
  <div class="box-task">
    <div class="box-title-task">
      <h1></h1>
      <div class="box-arrow">
        <div class="box-pending">
          <div class="pending"></div>
        </div>
        <div class="box-down-arrow">
          <img
            src="../../../assets/icons/arrow.png"
            alt="down arrow"
            class="down-arrow"
          />
        </div>
      </div>
    </div>
    <div class="box-details-task">
      <div class="box-edit">
        <button>
          <img src="../../../assets/icons/trash.png" alt="task delete" />
        </button>
        <button>
          <img src="../../../assets/icons/pen.png" alt="task edit" />
        </button>
        <button>
          <img src="../../../assets/icons/correct.png" alt="task done" />
        </button>
      </div>
      <div class="box-desc-task">
        <p class="desc-task"></p>
      </div>
      <div class="box-desc-pending">
        <div class="desc-pending">Pendência</div>
      </div>
    </div>
  </div>
</section>
