.container-task {
  display: grid;
  gap: 15px;
  color: lightgray;
  .box-task {
    .box-title-task {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgb(0, 70, 81);
      border-bottom: 3px solid rgba(0, 47, 54, 0.723);
      padding: 12px;
      .box-arrow {
        display: flex;
        align-items: center;
        gap: 10px;
        .box-pending {
          .pending {
            width: 15px;
            height: 15px;
            background-color: orange;
            border-radius: 50%;
          }
        }
      }
      .box-down-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        .down-arrow {
          width: 15px;
          height: 15px;
          transform: rotate(90deg);
        }
      }
    }
    .box-details-task {
      display: grid;
      justify-items: flex-end;
      background-color: rgb(0, 70, 81);
      .box-edit {
        display: flex;
        align-items: center;
        padding: 12px;
        border-bottom: 3px solid rgba(0, 47, 54, 0.723);
        gap: 8px;
        width: 100%;
        button {
          background-color: rgb(0, 41, 47);
          padding: 10px;
          border-radius: 10px;
          border: 0;
          color: lightgray;
          cursor: pointer;
          -webkit-tap-highlight-color: transparent;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      .box-desc-pending {
        padding: 12px;
        .desc-pending {
          background-color: orange;
          border-radius: 5px;
          padding: 5px 10px;
        }
      }
      .box-desc-task {
        .desc-task {
          text-align: left;
          padding: 12px;
        }
      }
    }
  }
}
