@import "../../sass/variables";

header {
  background-color: $bg-color-dark-blue;
  padding: 18px;
  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    h1 {
      color: lightgray;
      text-align: center;
    }
    .container-icon-menu {
      display: grid;
      gap: 5px;
      @media screen and (min-width: 900px) {
        display: none;
      }
      .row-menu {
        transition: transform 150ms, opacity 150ms;
        width: 20px;
        height: 3px;
        background-color: white;
      }
      .container-icon-menu-open {
        gap: 0px;
      }
      .row1 {
        transform: rotate(45deg);
      }
      .row2 {
        // display: none;
        opacity: 0;
        position: absolute;
      }
      .row3 {
        position: absolute;
        transform: rotate(-45deg);
      }
    }
  }
}
