@import "../../sass/variables";

header {
  background-color: $bg-color-dark-blue;
  padding: 18px;
  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    h1 {
      color: lightgray;
      text-align: center;
      margin: 0;
    }
    .container-icon-menu {
      display: grid;
      gap: 5px;
      padding: 10px;
      @media screen and (min-width: 900px) {
        display: none;
      }
      .row-menu {
        transition: transform 150ms, opacity 100ms;
        width: 20px;
        height: 3px;
        background-color: white;
      }
      .row1 {
        // position: absolute;
        transform: rotate(45deg) translateY(11px);
      }
      .row2 {
        opacity: 0;
        transform: translateX(-20px);
        // position: absolute;
      }
      .row3 {
        // position: absolute;
        transform: rotate(-45deg) translateY(-11px);
      }
    }
  }
}
