<section style="display: grid; gap: 25px">
  <button
    class="btn"
    (click)="callTogglePopUp()"
    #btnAdd
    [ngClass]="{ 'btn-off': arrTask.length > 1 }"
  >
    Adicionar
  </button>
  <section
    class="container-task"
    *ngFor="let task of arrTask | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; let i = index"
    #containerTask
  >
    <!-- @if (i > 0) { -->
    <div class="box-task">
      <div class="box-title-task">
        <h1 [attr.contenteditable]="boolEditTask">{{ task.name }}</h1>
        <div class="box-arrow">
          <div class="box-pending">
            <div class="pending" [ngClass]="{ done: boolDone }"></div>
          </div>
        </div>
      </div>
      <div class="box-details-task">
        <div class="box-edit">
          <button (click)="deleteTask($event)">
            <img src="../../../assets/icons/trash.png" alt="task delete" />
          </button>
          <button (click)="editTask()">
            <img src="../../../assets/icons/pen.png" alt="task edit" />
          </button>
          <button (click)="doneTask()">
            <img src="../../../assets/icons/correct.png" alt="task done" />
          </button>
        </div>
        <div class="box-desc-task">
          <p class="desc-task" [attr.contenteditable]="boolEditTask">
            {{ task.desc }}
          </p>
        </div>
        <div class="box-desc-pending">
          <div class="status-task" [ngClass]="{ 'status-done': boolDone }">
            Pendente
          </div>
        </div>
      </div>
    </div>
    <!-- } -->
  </section>
</section>
<pagination-controls (pageChange)="p = $event"></pagination-controls>