.btn {
  margin: auto;
  width: 35%;
  overflow-x: hidden;
  border: 0;
  padding: 10px 25px;
  background-color: rgb(0, 60, 100);
  color: lightgray;
  font-size: clamp(1em, 1em, 1.5em);
  border-radius: 15px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.btn-off {
  display: none;
}
.btn-on {
  display: block;
}
.container-task {
  color: lightgray;
  .box-task {
    .box-title-task {
      h1 {
        word-break: break-all;
        transition: padding 120ms;
        font-size: 1.5em;
      }
      h1[contenteditable="true"] {
        border: 0;
        outline: 0;
        border-bottom: 1px solid white;
        padding: 5px;
        display: inline-block;
      }
      border-radius: 15px 15px 0px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      background-color: rgb(0, 70, 81);
      border-bottom: 3px solid rgba(0, 47, 54, 0.723);
      padding: 12px;
      .box-arrow {
        display: flex;
        align-items: center;
        gap: 10px;
        .box-pending {
          .pending {
            width: 15px;
            height: 15px;
            background-color: orange;
            border-radius: 50%;
          }
          .done {
            background-color: lime;
          }
        }
      }
      .box-down-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .down-arrow {
          max-width: 15px;
          max-height: 15px;
          transform: rotate(90deg);
        }
      }
    }
    .box-details-task {
      border-radius: 0px 0px 15px 15px;
      display: grid;
      background-color: rgb(0, 70, 81);
      .box-edit {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 12px;
        border-bottom: 3px solid rgba(0, 47, 54, 0.723);
        gap: 8px;
        width: 100%;
        button {
          background-color: rgb(0, 41, 47);
          padding: 10px;
          border-radius: 10px;
          border: 0;
          color: lightgray;
          cursor: pointer;
          -webkit-tap-highlight-color: transparent;
          img {
            max-width: 20px;
            max-height: 20px;
          }
        }
      }
      .box-desc-pending {
        padding: 12px;
        .status-task {
          width: fit-content;
          width: -moz-fit-content;
          border: 0;
          padding: 5px 10px;
          color: white;
          font-size: 1.1em;
          background-color: orange;
          border-radius: 10px;
        }
        .status-done {
          background-color: lime;
        }
        .desc-pending {
          background-color: limegreen;
          border-radius: 5px;
          padding: 5px 10px;
        }
      }
      .box-desc-task {
        padding: 12px;
        .desc-task {
          text-align: left;
          // padding: 12px;
          word-break: break-all;
          transition: padding 120ms;
          font-size: 1.2em;
        }
        .desc-task[contenteditable="true"] {
          border: 0;
          outline: 0;
          border-bottom: 1px solid white;
          padding: 5px;
          display: inline-block;
        }
      }
    }
  }
}
