$bg-color-side-bar: rgb(0, 46, 53);

.side-bar {
  background-color: $bg-color-side-bar;
  width: fit-content;
  min-height: 80vh;
  padding: 24px 15px;
  margin: 10px 0px;
  border-radius: 0px 20px 20px 0px;
  color: lightgray;
  .container-side-bar {
    display: grid;
    gap: 15px;
    .btn {
      color: lightgray;
      font-size: 1.5em;
      padding: 10px 32px;
      border: 0;
      border-radius: 5px;
      background-color: rgb(0, 58, 67);
    }
  }
}
