@if (booleanPopUp) {
<div class="container-pop-up" #popUp [@fadeInOut]>
  <div class="container-title">
    <h1>Adicione sua Tarefa!</h1>
    <img
      src="../../../assets/icons/xis.png"
      alt="ícone de xis para fechar o pop-up"
      (click)="booleanPopUp = !booleanPopUp"
      tabindex="0"
      (keyup)="($event.key === 'enter')"
    />
  </div>
  <div class="container-text-area">
    <input
      type="text"
      name=""
      id=""
      placeholder="Digite sua Tarefa!"
      class="input-tarefa"
      [(ngModel)]="nameTask"
    />
    <textarea
      name=""
      cols="30"
      rows="3"
      style="resize: none"
      class="text-area"
      placeholder="Escreva a Descrição da sua Tarefa!"
      [(ngModel)]="descTask"
    ></textarea>
  </div>
  <div class="container-add-btn">
    <button (click)="addTask()" tabindex="0" (keyup)="($event.key === 'enter')">
      Adicionar
    </button>
  </div>
</div>
}
