@import "../../sass/functions";
@import "../../sass/variables";

.container-pop-up {
  display: grid;
  gap: 24px;
  padding: 14px;
  position: fixed;
  inset: 0;
  margin: auto;
  width: fit-content;
  max-height: fit-content;
  border-radius: 10px;
  background-color: rgb(0, 85, 98);
  .container-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    h1,
    img {
      background-color: rgb(0, 98, 113);
      border-radius: 5px;
      padding: 5px;
    }
    img {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
    }
    h1 {
      color: lightgray;
      font-size: clamp(1em, 1em + 1vw, 1.5em);
      padding: 5px 10px;
    }
  }
  .container-text-area {
    display: grid;
    gap: 12px;
    .text-area {
      font-size: clamp(1em, 1em + 1vw, 1.5em);
      width: 100%;
      border: 0;
      padding: 5px;
      border-radius: 5px;
      transition: box-shadow 200ms;
      &:focus {
        box-shadow: 0px 0px 2px 3px rgb(0, 93, 151);
        outline: 0;
      }
    }
    h2 {
      text-align: center;
    }
    .input-tarefa {
      font-size: clamp(1em, 1em + 1vw, 1.5em);
      border: 0;
      padding: 5px;
      border-radius: 5px;
      transition: box-shadow 200ms;
      &:focus {
        box-shadow: 0px 0px 2px 3px rgb(0, 93, 151);
        outline: 0;
      }
    }
  }
  .container-estado {
    h2 {
      text-align: center;
    }
  }
  .container-add-btn {
    display: flex;
    justify-content: center;
    button {
      background-color: rgb(0, 98, 113);
      border: 0;
      padding: 8px 15px;
      border-radius: 5px;
      font-size: clamp(1em, 1em + 1vw, 1.5em);
      color: lightgray;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      &:active {
        transition: background-color 200ms;
        background-color: rgb(0, 94, 152);
      }
    }
  }
}
