@if (booleanPopUp) {
<div class="container-pop-up" #popUp [@fadeInOut]>
  <div class="container-title">
    <h1>Adicione sua Tarefa!</h1>
    <img
      src="../../../assets/icons/xis.png"
      alt="ícone de xis para fechar o pop-up"
    />
  </div>
  <div class="container-text-area">
    <input
      type="text"
      name=""
      id=""
      placeholder="Digite sua Tarefa!"
      class="input-tarefa"
    />
    <textarea
      name=""
      cols="30"
      rows="3"
      style="resize: none"
      class="text-area"
      placeholder="Escreva a Descrição da sua Tarefa!"
    ></textarea>
  </div>
  <div class="container-add-btn">
    <button class="">Adicionar</button>
  </div>
</div>
}