main {
  min-height: 100vh;
  background-color: rgba(0, 27, 32, 0.9);
  .container-app-task {
    padding: 15px;
    min-height: 100vh;
  }
  @media screen and (min-width:900px) {
    display: flex;
  }
}
